<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="app_data\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets async="true">
    <!--配置参考:https://github.com/NLog/NLog/wiki/Layout-renderers-->
    <target name="Network_To_Logstash" xsi:type="Network" address="udp://office.feelbus.cn:7788">
      <layout xsi:type="JsonLayout">
        <attribute name="date" layout="${longdate}" />
        <attribute name="loggerName" layout="${logger}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="identity" layout="${aspnet-user-identity}" />
        <attribute name="clientip" layout="${aspnet-request-ip}" />
        <attribute name="action" layout="${aspnet-mvc-action}" />
        <attribute name="controller" layout="${aspnet-mvc-controller}" />
        <attribute name="host" layout="${aspnet-request-host}" />
        <attribute name="method" layout="${aspnet-request-method}" />
        <attribute name="querystring" layout="${aspnet-request-querystring:OutputFormat=JSON}" />
        <attribute name="user-agent" layout="${aspnet-request-useragent}" />
        <attribute name="url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=false}" />
        <attribute name="user-identity" layout="${aspnet-user-identity}" />
        <attribute name="exception" layout="${exception:innerFormat=ToString:maxInnerExceptionLevel=5:format=ToString}" />
        <attribute name="stacktrace" layout="${stacktrace:format=DetailedFlat}" />
        <attribute name="application" layout="${var:FeiniuBus-Application}" />
        <attribute name="eventId" layout="${event-properties:item=EventId.Id}" />
        <attribute name="eventName" layout="${event-properties:item=EventId.Name}" />
      </layout>
    </target>
  </targets>
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="Network_To_Logstash" final="true" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="Network_To_Logstash" />
  </rules>
</nlog>